/*
/\   /\___ \
\ \ / / __) |
 \ V / / __/
  \_/ |_____| Responsive
*/

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
/* css_injector_35.css */

@media (max-width: 470px) {
    .col-xxs-12 { width: 100%; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
@media (max-width: 600px) {
    #block-block-1 form button { width: 50px; }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #main-menu .menu li, #main-menu .menu li a { width: 139px; padding: 16px 0px; }
    #layout-footer .newsletter { width: 90%; }
    #block-block-15 .panel-body .col-sm-6.views-row-even { width: calc( 50% - 15px); margin-left: 15px; }
    .filter-view .views-exposed-form { display: block !important; }
}
@media (max-width: 768px) {
    #block-block-1 { background: #e2e7eb; background: -moz-linear-gradient(top, #e2e7eb 0%, #d4d9df 100%); background: -webkit-linear-gradient(top, #e2e7eb 0%,#d4d9df 100%); background: linear-gradient(to bottom, #e2e7eb 0%,#d4d9df 100%); height: 175px; }
    #block-block-1 .panel-body { width: calc(100% - 30px); }
    #block-views-latest-news-block-latest-news .views-row { padding-left: 0; }
    #main-menu .menu li, #main-menu .menu li a { width: 100%; text-align: left; }
    #main-menu .menu.nav > li.first.leaf a { text-align: center; }
    #main-menu .menu li.expanded { border-top: 1px solid #2481C4; }
    #main-menu .menu li a { padding-left: 30px; }
    #main-menu .navbar-nav > li > .dropdown-menu > li > a,
    #main-menu .navbar-nav > li > .dropdown-menu > li > a:hover { padding-left: 40px }
    .region-featured #main-menu .navbar.opened-child { overflow-y: auto; height: 100%; }
    .filter-view .view-header p { float: none; width: 100%;cursor: pointer; margin-bottom: 0;  }
    .filter-view .view-header p:after { content: "\002b"; float: right; font-family: 'Glyphicons Halflings'; }
    .filter-view .view-header p.expanded:after { content: "\2212"; }
    .filter-view .views-exposed-form { float: none; width: 100%; display: none; margin-top:0;}
    .filter-view .view-content { margin-left: 0; margin-top: 20px; }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #main-menu .menu li, #main-menu .menu li a { width: 184px; padding: 16px 0px; }
    #content-wrapper { padding-right: 0; }
    #block-views-latest-news-block-latest-news .views-row,#block-block-15 .views-row { padding: 0; }
}
@media (max-width: 992px) {
    .latest-news.col-sm-6.views-row-odd { padding-left: 0; }
    #layout-footer .funded-by { overflow: hidden; padding: 20px 0; }
    #layout-footer .newsletter { border-top: 1px solid #2481C4; padding-top: 15px; width: 100%; padding-bottom: 15px; overflow: hidden; }
    #layout-footer .follow-us { border-top: 1px solid #2481C4; padding-top: 15px; }
    #layout-footer .funded-by img { margin-left: 0; }
    #layout-footer .sub-footer strong:before { margin-bottom: 20px; }
    #layout-footer-final, #layout-footer-final .menu { text-align: center !important; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}



/* old stuff */
@media (max-width: 767px) {
    div#layout-header {height: 100px;}
    #layout-header #main-title {top: -5px;position: absolute;padding: 0;left:105px; text-transform: uppercase;margin:0;}
    #block-block-1 form p { text-align: center; }
    #block-block-1 form p a { width: 50% !important; }
    ul.pager li { margin-left: 0; }
}
@media (max-width: 600px) {
    div#layout-header { height: 100px; }
    div#block-views-1ad7d3f541e703c73242860af067d822 { height: auto !important; }
    #layout-body .container .fix-region { padding: 0; }
    .prefooter { margin: 0 10px !important; }
    #layout-footer .service-tools ul li { margin: 0; }
    #layout-footer .service-tools ul { text-align: left; margin: 0 5px;}
    #block-block-1 form button.btn-primary { font-size: 0; }
    #block-block-1 form button.btn-primary i.fa { font-size: 14px; }
    body.page-feedback #edit-file1-upload-button { margin-top: 10px; }
    body.page-feedback input[type="submit"] {width: 100% }
    div#messages { margin-top: 20px; }
    ul.navbar-nav li, ul.navbar-nav li a { width: 100% !important; text-align: left !important; padding-left: 12px !important; }
    ul.navbar-nav>li.first a { text-align: center !important; }
    .featured-highlights.view-highlights .view-content .views-field-title .field-content, .featured-highlights.view-data-highlights .view-content .views-field-title .field-content { width: auto; }
    .content h2 { background-image: none; }
}
.element-invisible { display: none; }
a.btn-back-top { z-index: 9; }
#block-block-1 form button.btn-primary { height: 34px; }
#block-block-1 form p { /*padding-right: 2px;*/ }
#block-block-1 form p a { width: 100% !important; }
