/*
/\   /\___ \
\ \ / / __) |
 \ V / / __/
  \_/ |_____| All Pages
*/
/* css_injector_23.css */

.site-wrapper { position: relative; }
#main-menu .navbar .container-fluid { padding: 0; }
/* Header */
#layout-header { height: 90px; min-height: 90px; }
/* Header title */
#layout-header #main-title { left: 90px; top: -15px; }
#layout-header #main-title h1 { color: #02609E; font-weight: normal; font-family: "Open Sans",Helvetica,Arial,sans-serif !important; }
#layout-header #main-title h1 strong { display: block; font-family: "Open Sans",Helvetica,Arial,sans-serif !important; }
/* Header logo */
#layout-header #banner-flag { width: 62px; height: 62px; left: 25px; }
/* Service tools */
#block-menu-menu-service-tools { position: relative; top: 5px; }
#block-menu-menu-service-tools .menu a { border: none; border-radius: 0; border-left: 1px solid #000000; padding-left: 6px; padding-right: 2px; }
/* Language dropbown */
#language-selector { color: #396ea2; top: 5px; padding: 2px 5px; width: 140px; border-radius: 0; -webkit-appearance: none; background: url("http://europeandataportal.eu/sites/all/themes/ec_resp/images/arrows-down.gif") no-repeat 97% 48%; }
/* Search Site box */
#search-block-form .form-type-textfield input { width: 210px; }
/* Breadcrumbs */
#path { font-size: 12px; height: 23px; }
#path .container { padding: 2px 10px; }
/* Navigation menu */
#main-menu { min-height: 50px; }
#main-menu .menu li:first-of-type {width: auto;}
#main-menu .navbar-nav > li.last > a, #main-menu .menu li, #main-menu .menu li a { width: 185px; text-align: center }
#main-menu .menu li a { padding: 15px 10px; }
#main-menu .menu .dropdown li, #main-menu .menu .dropdown li a { width: auto; }
#main-menu .navbar-nav > li > .dropdown-menu { top: 50px; bottom: auto; }
/* Footer */
#layout-footer { margin-top: 0;}
/* Funded By Notice */
#layout-footer .funded-by { padding-top: 40px; }
#layout-footer .funded-by img { float: left; margin-left: 20px; margin-right: 10px;}
#layout-footer .funded-by p { float: left; color: #fff; font-size: 12px; width: 100px; text-align: left; top: 5px; position: relative; }
/* Newsletter subscription */
#layout-footer .newsletter { text-align: left; color: #FFF; }
#layout-footer .newsletter strong { font-size: 14px; margin-bottom: 15px; display: block;}
#layout-footer .newsletter label { color: #fff; font-weight: normal; }
#layout-footer .newsletter form label { display: none; }
#layout-footer .newsletter .form-item {width: calc(70% - 5px);display: inline-block; margin-top: 10px; margin-bottom: 10px; float: left; }
#layout-footer .newsletter .form-item input[type=text] { height: 30px; border-radius: 0; width: 100%;; padding: 7px; color: #000; border: 1px solid white; }
#layout-footer .newsletter input[type=submit] {line-height: 18px; margin-top: 10px;margin-left: 2px; float: left;border-radius: 0;width: calc(30% - 5px);background-color: #fff;color: #0f66a0 !important;font-weight: bold;border: 1px solid white;display: inline-block;padding: 5px;font-size: 1em;}
/* Follow Us */
#layout-footer .follow-us { text-align: left; }
#layout-footer .follow-us strong { color: white; display: block; font-size: 14px; margin-bottom: 20px; }
#layout-footer .follow-us a { margin-right: 10px; }
#layout-footer .follow-us .fa { background-color: white; color: #0F66A0; width: 30px; height: 30px; font-size: 15px; text-align: center; padding-top: 7px; }
/* Help Us Improve */
.sub-footer .region { border-top: 1px solid #2481C4; margin-top: 20px;}
.sub-footer .panel-body { padding: 20px 0 0 0; }
.sub-footer strong:before { margin-right: 10px; height: 30px; float: left; width: 30px; padding-left: 4px; content: "\f27a"; font: normal normal normal 24px/1 FontAwesome; color: #0F66A0; background-color: white; }
.sub-footer .block { background-color: transparent; border: none; }
.sub-footer .block * { color: #bee3ff; }
.sub-footer .block strong { color: white; }
.sub-footer .panel { text-align: left; }
.sub-footer .panel .panel-body>p { margin-bottom: 0; }
.sub-footer .panel { margin-bottom: 10px; }
/* Final footer */
#layout-footer-final { background-color: #015196; }
#layout-footer-final * { color: #99B1CB; }
#layout-footer-final .row>div:nth-of-type(2) ul { text-align: right; }
#layout-footer-final .row>div { padding-top: 5px; padding-bottom: 0; }
#layout-footer-final ul { padding: 5px 0 0 0; margin-bottom: 10px; }
#layout-footer-final ul li { display: inline-block; font-size: 12px; }
#layout-footer-final li.leaf { padding: 0; }
#layout-footer-final ul li:after { content: " |"; }
#layout-footer-final ul li:last-of-type:after { content: ""; }
#layout-footer-final ul li a { background: none; border: 0; padding: 0; display: inline-block; }
/* Top button */
.btn-back-top { background-color: rgba(0,0,0,0.65); color: white; border-radius: 0; font-size: 1.25em; height: 46px; width: 46px; text-align: center; line-height: 48px; }
.btn-back-top:hover { background-color: black; color: white; }

/* Paging */
.pager { text-align: center; }
.pager .pager-first { float: left; }
.pager .pager-previous { float: left; }
.pager .pager-next { float: right; }
.pager .pager-last { float: right;}
.item-list .pager { padding: 0; }
.item-list .pager li { margin: 0 2px; padding: 2px;  }
.pager li>a { color: #0164a5; border: 1px solid #DCDCDC; border-radius: 5px; padding: 5px 10px; }
.pager li.pager-hidden { color: #b3b3b3; border: 1px solid #DCDCDC; border-radius: 5px; padding: 5px 10px; }
.pager li.pager-current { display: inline-block; min-width: 30px; height: 31px; border: 1px solid #0164a5; background-color: #0164a5; color: #fff; border-radius: 5px; padding: 5px 10px; }
.item-list .pager li:nth-last-child(2) { margin-right: 0; }
.item-list .pager li:first-child { margin-left: 0; }

/* Navigation */
#main-menu .navbar-nav > li.last > .dropdown-menu { text-align: center; }

/* Generic styles */
h3 { font-size: 16px; }

@media (min-width: 768px) {
  /* Taller header for languages with longer service tools: EL, FR, GA, PT, RO, SK */
  html[lang="el"] #layout-header, html[lang="fr"] #layout-header, html[lang="ga"] #layout-header, html[lang="pt"] #layout-header, html[lang="ro"] #layout-header, html[lang="sk"] #layout-header { height: 110px; min-height: 110px; background: #fff; }
  html[lang="el"] #layout-header #banner-flag, html[lang="fr"] #layout-header #banner-flag, html[lang="ga"] #layout-header #banner-flag, html[lang="pt"] #layout-header #banner-flag, html[lang="ro"] #layout-header #banner-flag, html[lang="sk"] #layout-header #banner-flag { top: 25px; }
  html[lang="el"] #layout-header #main-title, html[lang="fr"] #layout-header #main-title, html[lang="ga"] #layout-header #main-title, html[lang="pt"] #layout-header #main-title, html[lang="ro"] #layout-header #main-title, html[lang="sk"] #layout-header #main-title { top: -5px; }
}
