
body {
    background-color: white;
    background-image: none;
    color: #3b3b3b;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    word-wrap: initial;
}
#layout-body {
    margin-top: 0;
    max-width: 982px;
}
.edp-front {
    padding-top: 10px;
}
.edp-node {
    background-color: #fff;
    /*min-height: 800px;*/
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 750px;
    }
}






@media (min-width: 992px) {
    .container {
        max-width: 984px;
    }
}
#path {
    color: #fff;
    font-size: 90%;
    line-height: 1.6;
}
#path a, #path a:visited {
    border: 0 none;
    color: #fff;
    text-decoration: none;
}
#path a:hover, #path a:focus, #path a:active {
    border: 0 none;
    color: #fff;
    text-decoration: underline;
}
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.btn-primary {
    border-color: transparent;
}
.btn-default {
    background-color: white;
}






.panel-default {
    border-color: #fff;
}
#layout-footer {
    background: #0f66a0 none repeat scroll 0 0;
    border-top: 0 none;
    font-size: 90%;
    margin-bottom: 0;
}
#layout-footer .service-tools ul {
    text-align: center;
}
#layout-footer .service-tools li {
    display: inline-block;
    margin: auto 10px;
}
ul.menu {
    border: medium none;
    list-style: outside none none;
    text-align: left;
}
#layout-footer li > a {
    color: #fff;
    text-decoration: none;
}
.link-wrapper {
    display: none;
}
.wrapper,.site-wrapper {
    background-color: #eeeeee;
    border: 1px solid #83b4c2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
}
h1, .h1 {
    color: #7c3b3b;
    font-size: 24px;
    font-weight: bold;
}
h2, .h2 {
    color: #7c3b3b;
    font-size: 20px;
    font-weight: bold;
}
h3, .h3 {
   /* color: #0f5991;*/
    font-size: 14px;
    font-weight: bold;
}

.easy-breadcrumb_segment-title {
}
.search-datasets {
    background: transparent url("../images/bg_jumbotron.jpg") no-repeat scroll center center;
    color: inherit;
    margin-bottom: 0;
	height: 206px;
}

.search-datasets-en {
    background: transparent url("../images/heroimg-text-en.png") no-repeat scroll center center;
    color: inherit;
    margin-bottom: 0;
	height: 206px;
}
.search-datasets-fr {
    background: transparent url("../images/heroimg-text-fr.png") no-repeat scroll center center;
    color: inherit;
    margin-bottom: 0;
	height: 206px;
}
.search-datasets-de {
    background: transparent url("../images/heroimg-text-de.png") no-repeat scroll center center;
    color: inherit;
    margin-bottom: 0;
	height: 206px;
}

/* hero img no text on responsive */
@media (max-width:991px){
	.search-datasets-en,
	.search-datasets-de,
	.search-datasets-fr {
		background-image: url("../images/bg_jumbotron.jpg");
	}
}

h1.featured {
    color: white;
}
button {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
button.btn-primary {
}


#block-block-1 .input-group-btn button.btn-primary  {
/*background: #0065a2 url("../images/icons/icon-dataset-s.png") no-repeat scroll 95%;
width:120px;
margin-left:-15px;*/
	background: #0065a2;
	padding-right: 10px;
}

#block-block-1 .input-group-btn button.btn-primary img {
    padding-left: 6px;
    margin-top: -2px;
}

#block-block-1 .input-group-btn button.btn-primary:hover {
/*z-index:0;*/
}

.bt-edp {
    padding: 5px 12px;
}
.search-datasets a.btn {
    /*background-color: rgba(0, 0, 0, 0.6) url("../images/icons/icon-dataset-s.png") no-repeat scroll center center;
	background: rgba(0, 0, 0, 0.6) url("../images/icons/icon-dataset-s.png") no-repeat scroll right center;
    color: white;
    font-size: 0.8em;
    padding: 3px 10px;
    width: 165px;*/
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	width: auto;
	display: inline-block;
}
.search-datasets-en a.btn, .search-datasets-fr a.btn, .search-datasets-de a.btn {
    /*background-color: rgba(0, 0, 0, 0.6) url("../images/icons/icon-dataset-s.png") no-repeat scroll center center;
	background: rgba(0, 0, 0, 0.6) url("../images/icons/icon-dataset-s.png") no-repeat scroll 278px center;
    color: white;
    font-size: 0.8em;
    padding: 3px 10px;
    width: 165px; */
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	width: auto;
	display: inline-block;
}

.search-datasets-en a.btn img,
.search-datasets-fr a.btn img,
.search-datasets-de a.btn img {
	padding-left: 5px;
	margin-top: -2px;
	display: inline-block;
}

.fix-region {
    padding-right: 15px;
}
.using-data > span, .what-we-do > span, .providing-data > span, .training-library > span {
    background-color: white;
    color: #333333;
    font-weight: bold;
    padding: 10px;
}
.navbar-default #main-menu .navbar-nav > .active > a, .navbar-default #main-menu .navbar-nav > .active > a:hover, .navbar-default #main-menu .navbar-nav > .active > a:focus {
    background-color: #289dfa;
}



.latest-news {
    background-color: #e5e4e2;
    margin-bottom: 10px;
}
.latest-news-heading {
    color: #85b5c3;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: -3px;
    width: 160px;
}
.latest-news-date {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
}
h2.cat, h4 {
    color: #333;
    font-size: 18px;
    font-weight: 400;
}
.cat-caption p > a {
    color: #333;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857;
    display: inline-block;
    break-word: normal;
}
.help-us {
    background-color: white;
    border-color: #1370b5;
    border-radius: 0;
    box-shadow: 0 2px 7px -4px;
    font-size: 12px;
    margin: 5px 0 15px;
    padding: 0;
}
.help-us .panel {
    margin-bottom: 0;
    padding: 0;
}
.help-us .panel-body {
    padding: 0;
}
.help-us .panel-index {
    padding: 10px;
}
.border-right {
    border-right: 1px solid #0a3d63;
}
.p-blue-7 {
    color: #0f5991;
    margin: 1px 0 0;
}
.feed-text {
    color: #000;
    margin: 2px 0 0;
}
.panel-box {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 300px;
    min-height: 300px;
}
.panel-box-1 {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 300px;
    min-height: 370px;
}
.box_frame {
    background-color: #fff;
    display: block;
    min-height: 315px;
    line-height: 1.42857;
    padding: 0;
    position: relative;
    transition: border 0.2s ease-in-out 0s;
}
.panel-box-2 {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 300px;
    min-height: 370px;
}
.box_frame_1 {
    background-color: #fff;
    display: block;
    line-height: 1.42857;
    padding: 0;
    position: relative;
    transition: border 0.2s ease-in-out 0s;
}
.box_frame img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 2px 7px -4px;
    height: auto;
    max-width: 100%;
}
.box_frame_1 img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 2px 7px -4px;
    height: auto;
    max-width: 100%;
}
.box_frame strong {
    font-size: 13px;
}
.box_frame_1 strong {
    font-size: 13px;
}
.box_title {
    color: #fff;
    font-size: 24px;
    line-height: 1.1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 34px;
    width: 100%;
}
.box_frame .caption {
    padding: 5px 15px;
}
.box_frame_1 .caption {
    padding: 5px 15px;
}
ul.box_list {
    padding-left: 10%;
	 margin-top: -15px;
}
ul.box_icons {
    margin: -1em;
}
ul.box_icons li {
    list-style: outside none none;
    padding-bottom: 20px;
}
ul.box_icons img {
    box-shadow: 0 0 0 0;
}
.gb-term {
    padding: 10px;
}
.gb-term-name {
    font-size: 17px;
}
ul.quicktabs-tabs.quicktabs-style-navlist {
    padding: 0;
    width: 25%;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active a {
    /*color: #323232;*/
    color:#fff;
	font-weight:normal;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active {
    /*background: #f6f6f6 none repeat scroll 0 0;*/
	background: #0065a2 none repeat scroll 0 0;
    border-bottom: 0 solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
   /* border-top: 0 solid #d0d0d0;*/
}
ul.quicktabs-tabs.quicktabs-style-navlist li a {
    padding: 3px 10px 0;
    text-align: left;
   /* word-break: break-all;*/
}
ul.quicktabs-tabs.quicktabs-style-navlist {
    /*background: #f6f6f6 none repeat scroll 0 0;*/
	background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d0d0d0;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    border-top-left-radius: 3px;
    box-shadow: 0 1px 3px 0 #e4e4e4;
}
#quicktabs-container-goldbook {
    /*box-shadow: 0 1px 3px 1px #e4e4e4;*/
	box-shadow: 0 1px 3px 1px #fff;
}
ul.quicktabs-tabs.quicktabs-style-navlist li {
    border: 1px solid #d0d0d0;
    margin: -1px;
}
.quicktabs_main.quicktabs-style-navlist {
    /*background: #f6f6f6 none repeat scroll 0 0;*/
	background: #fff none repeat scroll 0 0;
    border: 1px solid #d0d0d0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.quicktabs_main.quicktabs-style-navlist li.active:nth-child(2) {
    border-left: 6px solid #0f799c;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active a {
   /* margin: 5px;*/
}
#views-exposed-form-goldbook-navigation-block-goldbook-navigation .views-exposed-form .views-exposed-widget {
    float: left;
}
#views-exposed-form-goldbook-navigation-block-goldbook-navigation #edit-sort-by {
    display: none;
}
#views-exposed-form-goldbook-navigation-block-goldbook-navigation .form-item-sort-order > label {
    display: none;
}
#views-exposed-form-goldbook-navigation-block-goldbook-navigation .form-item-sort-order {
    margin-bottom: 20px;
    margin-left: 440px;
}
#views-exposed-form-goldbook-navigation-block-goldbook-navigation .views-exposed-form {
    background-color: white;
    border-bottom: 1px solid #d0d0d0;
    height: 50px;
    margin: -10px -10px 30px;
}
#views-exposed-form-goldbook-navigation-block-goldbook-navigation .form-item-sort-by {
    float: right;
    margin-left: 380px;
    margin-top: 5px;
    position: absolute;
}
.pub-date {
    float: right;
}
#block-block-3 h3 {
    display: none;
}
.prefooter {
    font-size: 90%;
    height: 1em;
    position: relative;
}
.prefooter .last-update {
    left: 10px;
    position: absolute;
}
.prefooter .top-link {
    position: absolute;
    right: 10px;
}
.service-tools .list-group-item {
    background-color: #0065a2;
    border: medium none;
    margin-bottom: -1px;
}
body.not-front .wrapper {
    background-color: #fff;
}
.node .field-name-body {
    border-bottom: none;
}
.region-content > .panel {
    box-shadow: none;
}

.node-content-fix {
	margin-bottom: -25px;
}

#webform-client-form-28 {
	margin-top: -40px;
}
.form-item label {
    color: #0065A2;
}

.form-story-newsletter-label {
	color:#0065A2;
	font-size: 14px;
	font-weight:700;
}

.form-story-newsletter-label legend {
	border-color: white;
}

.form-story-newsletter-label legend > span {
	border-color: none;
	color:#0065A2;
	font-size: 14px;
	font-weight:700;
}

.form-story-newsletter {
	margin-top: -20px;
}

.form-story-newsletter label {
	color:#000;
}

/*===================================
=            NAVBAR MENU            =
===================================*/
#main-menu .affix {
    width: 982px;
}
#main-menu .container,
#main-menu .navbar .collapse,
#main-menu ul.menu li {
    padding: 0;
    margin: 0;

}
#main-menu > .navbar > .container {
    width: 100%;
}
#main-menu .navbar-nav {
    position: static;
    top: -3px;
}
#main-menu .navbar-nav > li {
    position: static;
}
#main-menu .navbar-nav > li > a {
    display: block;
}
#main-menu .navbar-nav > li > a,
#main-menu .navbar-nav > li:focus > a,
#main-menu .navbar-nav > li.open > a,
#main-menu .navbar-nav>.open>a,
#main-menu .navbar-nav>.open>a:hover,
#main-menu .navbar-nav>.open>a:focus,
#main-menu .navbar-nav>li>a.active {
    border-radius: 0;
}
:not(.i18n-en) #main-menu .navbar-nav > li > a {
    text-transform: none;
}
#main-menu .navbar-nav > li.open > a,
#main-menu .navbar-nav > li > .dropdown-menu {
    background-color: #1986DC;
}
#main-menu .navbar-nav > li > .dropdown-menu {
    width: calc(100% + 2px);
    top: auto;
    bottom: -50px;
    left: -1px;
    padding: 5px;
    border-radius: 0;
    text-align: center;
}
#main-menu .navbar-nav>li>a.active,
#main-menu .navbar-nav>li>a.active-trail,
#main-menu .navbar-nav > li.active-trail > .dropdown-menu.active-trail {
    background-color: #289dfa;
    display: inline-block;
    z-index: 999;
}
#main-menu .navbar-nav > li > .dropdown-menu > li {
    display: inline-block;
}
#main-menu .navbar-nav > li > .dropdown-menu > li > a {
    display: inline-block;
    background-color: #289dfa;
    color: #FFF;
    border-color: #289dfa;
    padding: 10px 15px;
}
#main-menu .navbar-nav > li > .dropdown-menu > li > a:hover,
#main-menu .navbar-nav > li > .dropdown-menu > li > a:focus,
#main-menu .navbar-nav > li > .dropdown-menu > li > a.active,
#main-menu .navbar-nav > li > .dropdown-menu > li > a.active-trail {
    background-color: #0065a2;
    color: #FFF;
    border-color: #289dfa;
}

#main-menu .navbar-nav > li.first > a,
#main-menu .navbar-nav > li.last > a {
    width: 50px;
    height: 51px;
}
#main-menu .navbar-nav > li.last > .dropdown-menu {
    text-align: right;
}
#main-menu .dataset {
    background: rgba(0, 0, 0, 0) url("../images/icons/icon-dataset-bluish.png") no-repeat scroll center center;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
}

#main-menu .dataset:hover, #main-menu .dataset:active  {
    background: rgba(0, 0, 0, 0) url("../images/icons/icon-dataset.png") no-repeat scroll center center;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
}

#main-menu ul.navbar-nav li.open .dataset {
    background: #1986DC url("../images/icons/icon-dataset.png") no-repeat scroll center center;
}

#main-menu ul.navbar-nav li.active-trail .dataset {
    background: #289dfa url("../images/icons/icon-dataset.png") no-repeat scroll center center;
}

#main-menu ul.navbar-nav li.last {
    line-height:1;
}


@media (min-width: 768px) {
    #main-menu .navbar-nav > li > a {
        width: 220px;
        text-align: center;
    }
}
@media (max-width: 991px) and (min-width: 767px) {
    #main-menu .affix {
        width: 100%;
    }
    #main-menu .container  {
        width: 750px;
        margin: 0 auto;
    }
    #main-menu .navbar-nav  {
        font-size: 14px;
        height: 52px;
    }
    #main-menu .navbar-nav > li > a {
        width: 162px;
        padding: 16px 15px 16px;
    }
    #main-menu .navbar-nav > li > .dropdown-menu {
        width: calc(100% + 1px);
    }
    .region-featured-wrapper.sidebar-visible-sm .mobile-user-bar+.region-featured #main-menu .navbar-nav {
        padding-left: 0;
    }
    .mobile-user-bar .navbar-header {
        display: none;
    }
}
@media (max-width: 767px) {
    .region-featured #main-menu .navbar .collapse.in {
        // overflow-x: hidden;
    }
    #main-menu .navbar-nav > li > a {
        padding-left: 30px;
        width: 100%;
    }
    #main-menu .navbar-nav > li > .dropdown-menu {
        display: block;
        position: static;
        top: auto;
        left: auto;
        bottom: auto;
        width: 100%;
        float: none;
        background-color: transparent;
        box-shadow: none;
        margin: 0;
        text-align: left;
    }
    #main-menu .navbar-nav > li > .dropdown-menu > li {
        display: block;

    }
    #main-menu .navbar-nav > li > .dropdown-menu > li > a,
    #main-menu .navbar-nav > li > .dropdown-menu > li > a:hover,
    #main-menu .navbar-nav > li > .dropdown-menu > li > a:focus {
        width: 100%;
        display: block;
        float: none;
        background-color: transparent;
        border-color: transparent;
        padding-left: 35px;
    }
    #main-menu .navbar-nav > li > a > .caret {
        display: none;
    }

    #main-menu .navbar-nav>li>a.active,
    #main-menu .navbar-nav>li>a.active-trail,
    #main-menu .navbar-nav>li.active-trail > .dropdown-menu.active-trail,
    #main-menu .navbar-nav>li.active-trail > .dropdown-menu {
        background-color: transparent;
    }
    #main-menu .navbar-nav > li.active-trail > .dropdown-menu > li > a.active {
        background-color: #289dfa;
    }
    #main-menu .navbar-nav > li > .dropdown-menu > li > a:hover,
    #main-menu .navbar-nav > li > .dropdown-menu > li > a:focus,
    #main-menu .navbar-nav > li.active-trail > a.active:hover,
    #main-menu .navbar-nav > li.active-trail > a.active:focus,
    #main-menu .navbar-nav > li.active-trail > a.active
     {
        background-color: #1986DC;
    }
    #main-menu .navbar-nav > li.first > a,
    #main-menu .navbar-nav > li.last > a {
        width: 100%;
    }
    #main-menu .dataset {
        text-indent: 30px;
        background-position: 30px center;
    }
    #main-menu .navbar-nav > li.last > .dropdown-menu {
        text-align: left;
    }
}
@media (min-width: 768px) {
    #layout-body.active-submenu {
        padding-top: 56px;
    }
}
/*=====  End of NAVBAR MENU  ======*/

.newsletter-link {
  float: left;
  text-align: left;
  width: 50%;
}

div.newsletter-link > a, div.newsletter-link > a:visited, div.newsletter-link > a:hover {
  color: #999;
  display: inline-block;
  font-size: 0.9em;
  margin-top: 8px;
  text-align: left;
}


