/*
.truncate-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
*/

.row{
    margin-left:0px;
    margin-right:0px;
}

.container-fluid{
     border:none;
 }

.container{
    border:none;
}

.navbar-default{
    border:none;
    padding:0px;
}

.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner-loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-loader {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
    -moz-animation: spinner-loader 1500ms infinite linear;
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 3px;
    width: 0.7em;
    height: 0.7em;
    margin: 0.5em 4em 0.5em 0.5em;
    overflow: hidden;
    text-indent: 100%;
}

.overlay-help {
    position: absolute !important;
    top: 0px;
    right: 0px;
    z-index: 10;
    clear: both;
    margin: 1em;
}

.information-icon {
    width: 1.5em;
    height: 1.5em;
}

.download-icon {
    height: 0.9em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/*ul#leftMenu {*/
    /*list-style-type: none;*/
    /*padding: 0em;*/
/*}*/

/*ul#leftMenu li {*/
    /*padding-bottom: 0.5em;*/
/*}*/

/*ul#leftMenu li a {*/
    /*width: 100%;*/
    /*text-align: left;*/
/*}*/

div#lastUpdate {
    padding-top: 0px;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

ul#dataset-links {
    padding-left: 0px;
}

#dataset-links li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.editor {
    height: 400px;
}

.harvester-meta-well {
    min-height: 430px;
    position: relative;
}

.harvester-meta-well button {
    position: absolute;
    bottom: 15px;
}

/*
 * BOOTSTRAP
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("#{resource['fonts:glyphicons-halflings-regular.eot']}");
    src: url("#{resource['fonts:glyphicons-halflings-regular.eot']}?#iefix")
    format('embedded-opentype'),
    url("#{resource['fonts:glyphicons-halflings-regular.woff2']}")
    format('woff2'),
    url("#{resource['fonts:glyphicons-halflings-regular.woff']}")
    format('woff'),
    url("#{resource['fonts:glyphicons-halflings-regular.ttf']}")
    format('truetype'),
    url("#{resource['fonts:glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular")
    format('svg');
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #ffffff;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

.table > thead > tr > td.error,
.table > tbody > tr > td.error,
.table > tfoot > tr > td.error,
.table > thead > tr > th.error,
.table > tbody > tr > th.error,
.table > tfoot > tr > th.error,
.table > thead > tr.error > td,
.table > tbody > tr.error > td,
.table > tfoot > tr.error > td,
.table > thead > tr.error > th,
.table > tbody > tr.error > th,
.table > tfoot > tr.error > th {
    background-color: #f2dede;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

/** Line break in long URLs and texts */
/*div dl dd, h3 span */.truncate-name {
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP Printers */
    word-wrap: break-word; /* IE 5+ */
}

.wd100 {
    width: 100%;
}

.wd70 {
    width: 70%;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}