<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fhg="http://java.sun.com/jsf/composite/fhg"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:panelGroup rendered="#{not empty harvesterBean.currentRepository}">
    <button id="showharvesterInfoButton" class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseCM"
            aria-expanded="false" aria-controls="cM">
        <span class="glyphicon glyphicon-random" aria-hidden="true"/>
        <h:outputText value=" #{msg['harvester.show_information']}"/>
    </button>
</h:panelGroup>
<h:outputText id="showHarvesterInfoButtonNoHarvesterReplacement" styleClass="label label-default" value=" #{msg['harvester.not_present']}"
              rendered="#{empty harvesterBean.currentRepository}"/>

<div class="collapse" id="collapseCM">

    <div class="row">
        <div id="harvesterContainer" class="col-md-6">
            <h4 id="harvesterName"><h:outputText value="#{msg['harvester.repository_harvester']}"/></h4>

            <div class="well harvester-meta-well">
                <dl>
                    <dt><h:outputText value="#{msg['harvester.type']}"/></dt>
                    <dd><h:outputText id="currentRepositoryType"
                                      value="#{harvesterBean.currentRepository.type}"/>
                    </dd>
                    <dt><h:outputText value="#{msg['harvester.incremental']}"/></dt>
                    <dd>
                        <h:outputText id="harvesterIncrementalBoolean"
                                      value="#{harvesterBean.currentRepository.incremental ? msg['common.yes'] : msg['common.no']}"/>
                        <span class="#{harvesterBean.currentRepository.incremental ? 'glyphicon glyphicon-thumbs-up' : 'glyphicon glyphicon-thumbs-down'}"/>
                    </dd>
                    <dt><h:outputText value="#{msg['harvester.frequency']}"/>
                    </dt>
                    <dd><h:outputText id="harvesterFrequency"
                                      value="#{harvesterBean.currentHarvester.frequency}"/>
                    </dd>
                    <dt><h:outputText value="#{msg['harvester.next_schedule']}"/></dt>
                    <dd><h:outputText id="harvesterNextSchedule"
                                      value="#{harvesterBean.currentHarvester.scheduled}">
                        <f:converter binding="#{dateTimeConverterMedium}"/>
                    </h:outputText>
                    </dd>
                    <dt><h:outputText value="#{msg['harvester.publisher']}"/></dt>
                    <dd><h:outputText id="repositoryPublisher"
                                      value="#{harvesterBean.currentRepository.publisher}"/>
                    </dd>
                    <dt><h:outputText value="#{msg['harvester.email_address']}"/></dt>
                    <dd><h:outputText id="repositoryPublisherEmail"
                                      value="#{harvesterBean.currentRepository.publisherEmail}"/>
                    </dd>
                    <dt><h:outputText value="#{msg['harvester.homepage']}"/></dt>
                    <dd><a id="repositoryUrl" href="#{harvesterBean.currentRepository.homepage}" target="_blank"><h:outputText
                            value="#{harvesterBean.currentRepository.homepage}"/></a>
                    </dd>
                    <dt><h:outputText value="#{msg['harvester.default_language']}"/></dt>
                    <dd><h:outputText id="repositoryDefaultLanguage"
                                      value="#{harvesterBean.currentRepository.language}"/>
                    </dd>
                </dl>
                <button id="showTransformationScriptButton" type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#transformationScript">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"/>
                    <h:outputText value=" #{msg['harvester.show_script']}"/>
                </button>
            </div>

        </div>

        <div class="col-md-6">
            <h4><h:outputText value="#{msg['harvester.last_run']}"/></h4>
            <h:panelGroup rendered="#{not empty harvesterBean.currentRun}">
                <div class="well harvester-meta-well">
                    <dl>
                        <dt><h:outputText value="#{msg['common.status']}"/></dt>
                        <dd>
                            <h:outputText id="lastRunStatusWarning" styleClass="label label-warning"
                                          rendered="#{harvesterBean.currentRun.status eq 'interrupted'}"
                                          value="#{harvesterBean.currentRun.status}"/>
                            <h:outputText id="lastRunStatusSuccess" styleClass="label label-success"
                                          rendered="#{harvesterBean.currentRun.status eq 'finished'}"
                                          value="#{harvesterBean.currentRun.status}"/>
                            <h:outputText id="lastRunStatusScheduled" styleClass="label label-primary"
                                          rendered="#{harvesterBean.currentRun.status eq 'scheduled'}"
                                          value="#{harvesterBean.currentRun.status}"/>
                            <h:outputText id="lastRunStatusNotScheduled" styleClass="label label-default"
                                          rendered="#{harvesterBean.currentRun.status eq 'notscheduled'}"
                                          value="#{harvesterBean.currentRun.status}"/>
                            <h:outputText id="lastRunStatusRunning" styleClass="label label-info"
                                          rendered="#{harvesterBean.currentRun.status eq 'running'}"
                                          value="#{harvesterBean.currentRun.status}"/>
                            <h:outputText id="lastRunStatusError" styleClass="label label-danger"
                                          rendered="#{harvesterBean.currentRun.status eq 'error'}"
                                          value="#{harvesterBean.currentRun.status}"/>
                        </dd>
                        <dt><h:outputText value="#{msg['harvester.run.start']}"/></dt>
                        <dd><h:outputText id="lastRunStartTime" value="#{harvesterBean.currentRun.startTime}"><f:converter
                                binding="#{dateTimeConverterMedium}"/></h:outputText></dd>

                        <h:panelGroup rendered="#{not empty harvesterBean.currentRun.endtTime}">
                            <dt><h:outputText value="#{msg['harvester.run.end']}"/></dt>
                            <dd><h:outputText id="lastRunEndTime" value="#{harvesterBean.currentRun.endtTime}"><f:converter
                                    binding="#{dateTimeConverterMedium}"/></h:outputText></dd>

                            <dt><h:outputText value="#{msg['harvester.run.duration']}"/></dt>
                            <dd><h:outputText id="lastRunDuration" value="#{harvesterBean.currentRun.duration}">
                                <f:converter binding="#{durationConverter}"/>
                            </h:outputText>
                            </dd>
                        </h:panelGroup>

                        <dt><h:outputText value="#{msg['harvester.run.added']}"/></dt>
                        <dd><h:outputText id="lastRunAddedCount" styleClass="label label-default"
                                          value="#{harvesterBean.currentRun.numberAdded}"/></dd>

                        <dt><h:outputText value="#{msg['harvester.run.updated']}"/></dt>
                        <dd><h:outputText id="lastRunUpdatedCount" styleClass="label label-default"
                                          value="#{harvesterBean.currentRun.numberUpdated}"/></dd>

                        <dt><h:outputText value="#{msg['harvester.run.skipped']}"/></dt>
                        <dd><h:outputText id="lastRunSkippedCount" styleClass="label label-default"
                                          value="#{harvesterBean.currentRun.numberSkipped}"/></dd>

                        <dt><h:outputText value="#{msg['harvester.run.rejected']}"/></dt>
                        <dd><h:outputText id="lastRunRejectedCount" styleClass="label label-default"
                                          value="#{harvesterBean.currentRun.numberRejected}"/></dd>

                        <dt><h:outputText value="#{msg['harvester.run.deleted']}"/></dt>
                        <dd><h:outputText id="lastRunDeletedCount" styleClass="label label-default"
                                          value="#{harvesterBean.currentRun.numberDeleted}"/></dd>

                    </dl>
                    <button id="lastRunShowLogsButton" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#runLogs">
                        <span class="glyphicon glyphicon-alert" aria-hidden="true"/>
                        <h:outputText value=" #{msg['harvester.run.show_log']}"/>
                    </button>
                </div>
            </h:panelGroup>

            <h:panelGroup styleClass="alert alert-info" pt:role="alert" rendered="#{empty harvesterBean.currentRun}"
                          layout="block">
                <h:outputText id="lastRunNoRunsInfo"
                              value="#{msg['harvester.run.no_runs']}"/>
            </h:panelGroup>
        </div>

        <div class="modal fade" id="transformationScript" tabindex="-1" role="dialog"
             aria-labelledby="transformationScriptLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"
                            id="transformationScriptLabel">
                            <h:outputFormat styleClass="text-lowercase"
                                            value="#{msg['harvester.transformation_script']}">
                                <f:param value="#{currentCatalogBean.catalogTitle} "/>
                            </h:outputFormat></h4>
                    </div>
                    <div class="modal-body">
                        <pre id="editorScript" class="editor">
                                <h:outputText value="#{harvesterBean.currentHarvester.script}"/>
                        </pre>
                    </div>
                    <script type="text/javascript">
                        var editorScript = ace.edit("editorScript");
                        editorScript.getSession().setMode("ace/mode/javascript");
                        editorScript.setTheme("ace/theme/chrome");
                        editorScript.getSession().setUseWrapMode(true);
                        editorScript.setReadOnly(true);
                    </script>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="runLogs" tabindex="-1" role="dialog"
             aria-labelledby="runLogsLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h:panelGroup id="runLogsLabel">
                            <h4 class="modal-title">
                                <h:outputFormat value="#{msg['harvester.run.log']}">
                                    <f:param value="#{currentCatalogBean.catalogTitle}"/>
                                    <f:param value="#{harvesterBean.logStart + 1}"/>
                                    <f:param value="#{harvesterBean.logStart + harvesterBean.getLogPageSize()}"/>
                                    <f:param value="#{harvesterBean.logTotal}"/>
                                </h:outputFormat>
                            </h4>
                        </h:panelGroup>
                    </div>
                    <div class="modal-body">
                        <h:panelGroup id="repeater">
                            <div class="table-responsive">
                                <table id="lastRunLogsTable" class="table">
                                        <ui:repeat value="#{harvesterBean.logs}" var="log">
                                            <h:form id="form-logid">
                                                <tr class="#{log.severity}">
                                                    <td>
                                                        <h:outputText id="lastRunLogsTableSeverity" value="#{log.severity.label}" styleClass="small"/>
                                                    </td>
                                                    <td>
                                                        <h:outputText id="lastRunLogsTableStage" value="#{log.stage.label}" styleClass="small"/>
                                                    </td>
                                                    <td>
                                                        <h:outputText id="lastRunLogsTableCategory" value="#{log.category.label}" styleClass="small"/>
                                                    </td>
                                                    <td>
                                                        <h:outputText id="lastRunLogsTableMessage" value="#{log.message}" styleClass="small"/>
                                                    </td>
                                                    <td>
                                                        <h:outputText id="lastRunLogsTableTimestamp"  value="#{log.timestamp}"
                                                                      styleClass="small"><f:converter
                                                                binding="#{dateTimeConverterShort}"/></h:outputText>
                                                    </td>

                                                    <td>
                                                        <h:commandLink class="btn btn-default btn-xs"
                                                                       pt:data-toggle="collapse"
                                                                       pt:data-target="#collapseAttachment-#{log.id}"
                                                                       pt:aria-expanded="false"
                                                                       pt:aria-controls="attachment"
                                                                       action="#{harvesterBean.updateAttachment(log.id)}"
                                                                       id="cml-log"
                                                                       rendered="#{log.attachment}">
                                                            <f:ajax render=":#{p:component('pg-log-editor')}"/>
                                                            <f:param name="catalogName"
                                                                     value="#{request.getParameter('catalogName')}"/>
                                                            <f:param name="lang" value="#{request.getParameter('lang')}"/>
                                                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"/>
                                                        </h:commandLink>
                                                    </td>

                                                </tr>

                                                <tr class="collapse #{log.severity}" id="collapseAttachment-#{log.id}">
                                                    <td colspan="6">
                                                        <h:panelGroup id="pg-log-editor">
                                                            <div id="pre-log-#{log.id}" class="editor">
                                                                <h:outputText id="attachment-log"
                                                                              value="#{harvesterBean.prettyPrintedAttachment}"/>
                                                            </div>
                                                            <script type="text/javascript">
                                                                var editorAttachment = ace.edit("pre-log-#{log.id}");
                                                                editorAttachment.getSession().setMode("ace/mode/json");
                                                                editorAttachment.setTheme("ace/theme/chrome");
                                                                editorAttachment.getSession().setUseWrapMode(true);
                                                                editorAttachment.setReadOnly(true);
                                                            </script>
                                                        </h:panelGroup>
                                                    </td>
                                                </tr>

                                            </h:form>
                                        </ui:repeat>
                                </table>
                            </div>
                        </h:panelGroup>
                        <div class="modal-footer">
                            <h:panelGroup id="pagingButtons">
                            <h:commandButton id="lastRunLogPrevious" type="button" class="btn btn-default" value="${msg['common.previous']}"
                                             action="#{harvesterBean.previousLogPage()}" disabled="#{harvesterBean.logStart eq 0}">
                                <f:ajax render="runLogsLabel repeater pagingButtons" />
                            </h:commandButton>
                            <h:commandButton id="lastRunLogNext" type="button" class="btn btn-default" value="${msg['common.next']}"
                                              action="#{harvesterBean.nextLogPage()}" disabled="#{(harvesterBean.logStart + harvesterBean.getLogPageSize()) ge harvesterBean.logTotal}">
                                <f:ajax render="runLogsLabel repeater pagingButtons" />
                            </h:commandButton>
                            </h:panelGroup>
                            <button  id="lastRunLogClose" type="button" class="btn btn-default" data-dismiss="modal">${msg['common.close']}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4><h:outputText id="distributionHeading" value="#{msg['dashboard.distribution.heading']}"/></h4>
<p>
    <h:outputText id="distributionIntroduction" value="#{msg['dashboard.distribution.introduction']}" escape="false"/>
</p>


<!-- Store some vars for better tutorial step EL expression readability -->
<ui:param name="distRendered" value="#{catalogDashboardDistributionBean.renderSection()}" />
<ui:param name="distErrCount" value="#{not catalogDashboardDistributionBean.getErrorCodesPieChart().isEmpty()}" />
<ui:param name="violationRendered" value="#{catalogDashboardViolationBean.renderSection()}" />
<ui:param name="licenceRendered" value="#{catalogDashboardLicenceBean.renderSection()}" />


<h:panelGroup rendered="#{distRendered}">
    <div class="row">
        <fhg:chart chartId="distributionChartAvalailability" title="#{msg['dashboard.distribution.overall_accessibility']}"
                   value="#{catalogDashboardDistributionBean.availableDistributionsPercentagePieChart}" tutorialStep="1"
                   tutorialText="#{msg['dashboard.help.overallaccessibility']}"
                   valueName="#{msg['common.percentage']}"
                   wellWidth="#{distErrCount ? 5 : 12}"/>

        <fhg:chart chartId="distributionChartStatusCodes" title="#{msg['dashboard.distribution.status_codes']}"
                   value="#{catalogDashboardDistributionBean.errorCodesPieChart}" tutorialStep="2"
                   tutorialText="#{msg['dashboard.help.errorstatuscodes']}" valueName="#{msg['common.percentage']}"
                   wellWidth="7" rendered="#{distErrCount}"/>
    </div>

    <div class="row">
        <fhg:chart chartId="distributionChartDownloadUrl" title="#{msg['dashboard.distribution.with_download_url']}"
                   value="#{catalogDashboardDistributionBean.withDownloadUrlPieChart}"
                   tutorialStep="#{distErrCount ? 3 : 2}"
                   tutorialText="#{msg['dashboard.help.distwithdownloadurl']}"
                   valueName="#{msg['common.percentage']}"
                   wellWidth="6"/>

        <fhg:chart chartId="distributionChartMachineReadablePercentage" tutorialText="#{msg['dashboard.help.distribution.format.machinereadable.percentage']}"
                   title="#{msg['dashboard.distribution.format.machinereadable.percentage']}"
                   valueName="#{msg['common.percentage']}"
                   tutorialStep="#{distErrCount ? 4 : 3}"
                   value="#{catalogDashboardDistributionBean.machineReadableDatasetPieChart}" wellWidth="6"/>
    </div>

    <div class="row">
        <fhg:chart chartId="distributionChartMostUsedFormats" value="#{catalogDashboardDistributionBean.mostUsedFormats}"
                   title="#{msg['dashboard.distribution.format.mostused']}"
                   tutorialStep="#{distErrCount ? 5 : 4}"
                   valueName="#{msg['distributions.format.name']}"
                   tutorialText="#{msg['dashboard.help.distribution.format.mostused']}"
                   wellWidth="12"
                   type="column" yAxisLabel="#{msg['common.percentage']}"/>
    </div>
</h:panelGroup>


<h:panelGroup rendered="#{not distRendered}" layout="block">
    <div class="alert alert-warning" role="alert">
        <h:outputText id="distributionNoChartNeeded" value="#{msg['dashboard.nodistributions']}"/>
    </div>
</h:panelGroup>

<h4><h:outputText id="complianceHeading" value="#{msg['dashboard.compliance.heading']}"/></h4>

<p>
    <h:outputText id="complianceIntroduction" value="#{msg['dashboard.compliance.description']}"/>
</p>

<h:panelGroup rendered="#{violationRendered}">
    <div class="row">

        <fhg:chart chartId="complianceChartPlaces" title="#{msg['dashboard.compliance.violation_places']}"
                   value="#{catalogDashboardViolationBean.mostOccurredViolationsPieChart}"
                   tutorialStep="#{distRendered ? (distErrCount ? 6 : 5) : 1}"
                   tutorialText="#{msg['dashboard.help.violationoccurrences']}" valueName="#{msg['common.percentage']}"
                   wellWidth="8"/>

        <fhg:chart chartId="complianceChartDatasetPercentage" title="#{msg['dashboard.compliance.dataset_in_percentage']}"
                   value="#{catalogDashboardViolationBean.conformDatasetPieChart}"
                   tutorialStep="#{distRendered ? (distErrCount ? 7 : 6) : 2}"
                   tutorialText="#{msg['dashboard.help.compliantdatasets']}" valueName="#{msg['common.percentage']}"/>

    </div>
</h:panelGroup>

<h:panelGroup rendered="#{not violationRendered}" layout="block">
    <div class="alert alert-success" role="alert">
        <h:outputText id="complianceNoChartNeeded" value="#{msg['dashboard.compliance.all_datasets_conform_catalog']}"/>
    </div>
</h:panelGroup>


<h4><h:outputText id="licenceHeading" value="#{msg['dashboard.licence.heading']}"/></h4>

<p>
    <h:outputText id="licenceIntroduction" value="#{msg['dashboard.licence.description']}" escape="false"/>
</p>

<h:panelGroup rendered="#{licenceRendered}">
    <div class="row">

        <fhg:chart chartId="rationKnownToUnkownLicences" title="#{msg['dashboard.licence.known.percentage']}"
                   value="#{catalogDashboardLicenceBean.ratioKnownUnknownPieChart}"
                   tutorialStep="#{distRendered ? (distErrCount ? (violationRendered ? 8 : 6) : (violationRendered ? 7 : 5)) : (violationRendered ? 3 : 1)}"
                   tutorialText="#{msg['dashboard.help.licence.known.percentage']}" valueName="#{msg['common.percentage']}"
                   wellWidth="5"/>

        <fhg:chart chartId="licenceMostUsedByCatalog" title="#{msg['dashboard.licence.mostused']}"
                   value="#{catalogDashboardLicenceBean.mostUsedLicencesColumnChart}"
                   tutorialStep="#{distRendered ? (distErrCount ? (violationRendered ? 9 : 7) : (violationRendered ? 8 : 6)) : (violationRendered ? 4 : 2)}"
                   type="column" wellWidth="7"
                   tutorialText="#{msg['dashboard.help.licence.mostused']}" valueName="#{msg['licence.name.plural']}"
                   yAxisLabel="#{msg['common.percentage']}"/>

    </div>
</h:panelGroup>

<h:panelGroup rendered="#{not licenceRendered}" layout="block">
<div class="alert alert-warning" role="alert">
    <h:outputText id="licenceNoChartNeeded"
                  value="#{msg['dashboard.licence.charts_not_applicable']}"/>
</div>
</h:panelGroup>


</html>
