<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<body>
<ui:composition>
    <!--    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>-->
    <div class="site-wrapper">
        <a id="top-page"></a>
        <div class="container" style="position:initial">
            <div class="region region-header-top">
                <select id="language-selector" class="reset-list language-selector-close" name="url"
                        onchange="changelanguage(this.value)"
                        data-module-dropdown-class="lang-dropdown" data-module-container-class="lang-container">
                    <option value="bg">Български (bg)</option>
                    <option value="cs">čeština (cs)</option>
                    <option value="da"> dansk (da)</option>
                    <option value="de"> Deutsch (de)</option>
                    <option value="el"> Ελληνικά (el)</option>
                    <option value="en" selected="selected"> English (en)</option>
                    <option value="es"> español (es)</option>
                    <option value="et"> eesti (et)</option>
                    <option value="fi"> suomi (fi)</option>
                    <option value="fr"> français (fr)</option>
                    <option value="ga"> Gaeilge (ga)</option>
                    <option value="hr"> Hrvatski (hr)</option>
                    <option value="hu"> Magyar (hu)</option>
                    <option value="it"> italiano (it)</option>
                    <option value="lt"> lietuvių (lt)</option>
                    <option value="lv"> latviešu (lv)</option>
                    <option value="mt"> Malti (mt)</option>
                    <option value="nl"> Nederlands (nl)</option>
                    <option value="pl"> polski (pl)</option>
                    <option value="pt"> português (pt)</option>
                    <option value="ro"> română (ro)</option>
                    <option value="sk"> slovenčina (sk)</option>
                    <option value="sl"> slovenščina (sl)</option>
                    <option value="sv"> svenska (sv)</option>
                    <option value="no"> Norsk (no)</option>
                </select>
                <div id="block-menu-menu-service-tools" class="block block-menu" style="position: initial">
                    <div class=" content" style="top:initial">
                        <ul class="menu clearfix list-group list-group-flush list-unstyled"
                            style="padding-right: 170px;top:7px">
                            <li class="first leaf"><a id="text7" title="Newsletter"
                                                      href="/en/newsletter/subscribe"
                                                      data-display-title="1" data-remove-class="0"
                                                      class="list-group-item languageSelect">Newsletter
                            </a></li>
                            <li class="leaf"><a href="/en/faq"
                                                data-display-title="1"
                                                data-remove-class="0" class="list-group-item languageSelect">FAQ</a>
                            </li>
                            <li class="leaf"><a id="text8" href="/en/search/site"
                                                title="Search" data-display-title="1"
                                                data-remove-class="0"
                                                class="list-group-item languageSelect">Search</a></li>
                            <li class="leaf"><a id="text3"
                                                href="/en/feedback/form?type=1"
                                                data-display-title="1" title="Contact" data-remove-class="0"
                                                class="list-group-item languageSelect">Contact</a></li>
                            <li class="leaf"><a id="text4" href="/en/cookies"
                                                data-display-title="1" data-remove-class="0" title="Cookies"
                                                class="list-group-item languageSelect">Cookies</a></li>
                            <li class="leaf"><a id="text5" href="/en/legal-notice"
                                                data-display-title="1" data-remove-class="0" title="Legal_notice"
                                                class="list-group-item languageSelect">Legal notice</a></li>
                            <li class="last leaf"><a id="text6"
                                                     href="/sparql-manager/en/user"
                                                     data-display-title="1" data-remove-class="0"
                                                     title="Login"
                                                     class="list-group-item languageSelect">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="layout-header">
            <div class="container-fluid">
                <a href="/en/" class="languageSelect">
                    <img alt="European Commission logo" id="banner-flag"
                         src="https://www.europeandataportal.eu/sites/default/files/edplogo.png"/>
                    <div id="main-title" class="panel-body" style="padding-bottom: 0px;">
                        <h1 id="text1" title="European" style="font-size:24px">European</h1>
                    </div>
                </a>
                <span id="banner-image-right" class="hidden-xs">
                    <div class="region region-header-right" style="margin-right: -5px;">
                        <div id="block-search-form" class="block block-search ">
                            <div class=" content">
                                <div class="input-group">
                                    <div class="form-item form-type-textfield form-item-search-block-form">
                                        <label class="element-invisible"
                                               for="text9">Search site content... </label>
                                        <input id="text9" style="width: 210px"
                                               title="Search_site_content"
                                               class="form-control form-text" type="text"
                                               name="search_block_form" value=""
                                               size="15" maxlength="128"/>
                                    </div>
                                    <span class="input-group-btn">
                                        <div class="form-actions form-wrapper" id="edit-actions">
                                        <input class="btn btn-default btn-small form-submit"
                                               type="image" id="edit-submit" name="submit"
                                               value="Search" onclick="goSearch()"
                                               src="https://www.europeandataportal.eu/sites/all/themes/ec_resp/images/search-button.png"/>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <!-- /#layout-header -->
        <div class="region-featured-wrapper sidebar-visible-sm">
            <div class="mobile-user-bar navbar navbar-default visible-sm visible-xs" data-spy="affix"
                 data-offset-top="82">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header" data-spy="affix" data-offset-top="165">
                        <button id="menu-button" type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-ex1-collapse">
                            <div class="arrow-down"></div>
                        </button>
                        <!-- <div class="sidebar-button-wrapper">
                    <button class="sidebar-button">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div> -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.navbar -->
            <div class="region region-featured">
                <div id="path" class="hidden-xs">
                    <div class="container-fluid">
                        <div class="menu menu-breadcrumb"><a href="/en"
                                                             data-display-title="1" data-remove-class="1"
                                                             class="active" id="text10"
                                                             title="European_Data_Portal">European Data Portal</a><span
                                class="easy-breadcrumb_segment-separator languageSelect"> &gt; </span></div>
                        <div class="easy-breadcrumb"><a href="/en"
                                                        class="easy-breadcrumb_segment easy-breadcrumb_segment-front active languageSelect"
                        >Home</a>
                        </div>
                    </div>
                </div>
                <div id="main-menu" class="block block-system block-menu">
                    <div class="navbar navbar-default affix-top" data-spy="affix" data-offset-top="165">
                        <div class="container-fluid">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul class="menu clearfix nav navbar-nav">
                                    <li class="first leaf">
                                        <a href="/en"
                                           data-display-title="0" data-image="home"
                                           class="list-group-item active languageSelect">
                                            <span class="glyphicon glyphicon-home menu-no-title"></span>
                                        </a>
                                    </li>
                                    <li class="expanded dropdown"><a
                                            href="/en/what-we-do/our-activities"
                                            data-display-title="1" data-remove-class="0"
                                            class="list-group-item dropdown-toggle languageSelect"
                                            data-toggle="dropdown"
                                            aria-expanded="false" id="text12" title="What_we_do">What we do<b
                                            class="caret"></b></a>
                                        <ul class="dropdown-menu menu list-group list-unstyled">
                                            <li class="first leaf"><a
                                                    href="/en/what-we-do/our-activities"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text13"
                                                    title="Our_Activities">Our Activities</a></li>
                                            <li class="leaf"><a
                                                    href="/en/dashboard"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text14"
                                                    title="Open_Data_Maturity">Open Data Maturity</a></li>
                                            <li class="leaf"><a
                                                    href="/en/what-we-do/factsheets-and-reports"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text15"
                                                    title="Factsheets_and_Reports">Factsheets and Reports</a></li>
                                            <li class="leaf"><a
                                                    href="/en/what-we-do/highlights-archive"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text16"
                                                    title="Featured_Highlights">Featured Highlights</a></li>
                                            <li class="leaf"><a
                                                    href="/en/what-we-do/calendar"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text17"
                                                    title="Calendar">Calendar</a>
                                            </li>
                                            <li class="last leaf"><a
                                                    href="/en/what-we-do/articles-archive"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text18"
                                                    title="News">News</a></li>
                                        </ul>
                                    </li>
                                    <li class="expanded dropdown"><a
                                            href="http://[odp:base_site_url]/data/[odp:base_site_language]/dataset"
                                            data-display-title="1" data-remove-class="0"
                                            class="list-group-item dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false" id="text19" title="Data">Data<b class="caret"></b></a>
                                        <ul class="dropdown-menu menu clearfix list-group list-group-flush list-unstyled">
                                            <li class="first leaf"><a href="/data/en/dataset" data-display-title="1"
                                                                      data-remove-class="0" id="text20"
                                                                      title="Datasets"
                                                                      class="list-group-item languageSelect">Datasets</a>
                                            </li>
                                            <li class="leaf"><a href="/data/en/organization" data-display-title="1"
                                                                data-remove-class="0" id="text21"
                                                                title="Catalogues"
                                                                class="list-group-item languageSelect">Catalogues</a>
                                            </li>
                                            <li class="leaf dropdown">
                                                <a class="list-group-item"
                                                   style="background-color: #289dfa;border-color: #289dfa;color: white;">Metadata Quality
                                                </a>
                                                <div class="dropdown-content"
                                                     style="min-width: 149px;border-radius: 5%">
                                                    <a style="border-top-left-radius: 10%; border-top-right-radius: 10%;"
                                                       class="languageSelect"
                                                       href="/mqa-service/en">Dashboard</a>
                                                    <a href="/mqa-service/en/catalogues"
                                                       class="languageSelect">Catalogues</a>
                                                    <a style="border-bottom-right-radius: 10%;border-bottom-left-radius: 10%;"
                                                       class="languageSelect"
                                                       href="/mqa-service/en/reports">Reports</a>
                                                </div>
                                            </li>
                                            <li class="leaf"><a href="/en/content/filter-licenses" id="text23"
                                                                title="Licensing_Assistant"
                                                                data-display-title="1" data-remove-class="0"
                                                                class="list-group-item languageSelect">Licensing Assistant</a>
                                            </li>
                                            <li class="leaf dropdown">
                                                <a class="list-group-item"
                                                   style="background-color: #289dfa;border-color: #289dfa;color: white;">SPARQL-Manager
                                                </a>
                                                <div class="dropdown-content"
                                                     style="min-width: 149px;border-radius: 5%">
                                                    <a style="border-top-left-radius: 10%; border-top-right-radius: 10%;"
                                                       class="languageSelect"
                                                       href="/sparql-manager/en/">SPARQL Search</a>
                                                    <a class="languageSelect"
                                                       href="/sparql-manager/en/assistant">SPARQL Assistant</a>
                                                    <a class="languageSelect"
                                                       style="border-bottom-right-radius: 10%;border-bottom-left-radius: 10%;"
                                                       href="/sparql-manager/en/queries">SPARQL Queries</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded dropdown"><a
                                            href="/en/providing-data/goldbook"
                                            data-display-title="1" data-remove-class="0"
                                            class="list-group-item dropdown-toggle languageSelect"
                                            data-toggle="dropdown" id="text29" title="Providing_Data">Providing Data<b
                                            class="caret"></b></a>
                                        <ul class="dropdown-menu menu clearfix list-group list-group-flush list-unstyled">
                                            <li class="first leaf"><a
                                                    href="/en/providing-data/goldbook"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text30"
                                                    title="Goldbook_for_Data_Publishers">Goldbook for Data Publishers</a>
                                            </li>
                                            <li class="leaf"><a
                                                    href="/data/en/organization"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text31"
                                                    title="Catalogues_Harvested_by_us">Catalogues Harvested by us</a>
                                            </li>
                                            <li class="last leaf"><a
                                                    href="/en/providing-data/how-to-be-harvested-by-us"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text32"
                                                    title="Be_harvested_by_us">Be Harvested by us</a></li>
                                        </ul>
                                    </li>
                                    <li class="expanded dropdown"><a
                                            href="/en/using-data/benefits-of-open-data"
                                            data-display-title="1" data-remove-class="0"
                                            class="list-group-item dropdown-toggle languageSelect"
                                            data-toggle="dropdown" id="text33"
                                            title="Using_Data">Using Data<b
                                            class="caret"></b></a>
                                        <ul class="dropdown-menu menu clearfix list-group list-group-flush list-unstyled">
                                            <li class="first leaf"><a
                                                    href="/en/using-data/benefits-of-open-data"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text34"
                                                    title="Benefits_of_Using_Data">Benefits of Using Data</a></li>
                                            <li class="leaf"><a
                                                    href="/en/using-data/using-data-checklist"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text35"
                                                    title="Checklist_for_Using_Data">Checklist for Using Data</a></li>
                                            <li class="leaf"><a
                                                    href="/en/using-data/use-cases"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text36"
                                                    title="Use_Cases">Use Cases</a>
                                            </li>
                                            <li class="last leaf"><a
                                                    href="/en/using-data/tell-us-your-story"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text37"
                                                    title="Tell_us_your_story">Tell us your story</a></li>
                                        </ul>
                                    </li>
                                    <li class="last expanded dropdown"><a
                                            href="/en/resources/elearning"
                                            data-display-title="1" data-remove-class="0"
                                            class="list-group-item dropdown-toggle languageSelect"
                                            data-toggle="dropdown" id="text38"
                                            title="Resources">Resources<b
                                            class="caret"></b></a>
                                        <ul class="dropdown-menu menu clearfix list-group list-group-flush list-unstyled">
                                            <li class="first leaf"><a
                                                    href="/en/resources/elearning"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text39"
                                                    title="eLearning">eLearning</a>
                                            </li>
                                            <li class="leaf"><a
                                                    href="/en/resources/training-companion"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text40"
                                                    title="Training_Companion">Training Companion</a></li>
                                            <li class="leaf"><a
                                                    href="/en/resources/more-training-materials"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text41"
                                                    title="More_Training_Material">More Training Material</a></li>
                                            <li class="last leaf"><a
                                                    href="/en/resources/reports-about-open-data"
                                                    data-display-title="1" data-remove-class="0"
                                                    class="list-group-item languageSelect" id="text0"
                                                    title="Reports_about_Open_Data">Reports about Open Data</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
</body>
</html>
