<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:fhg="http://java.sun.com/jsf/composite/fhg">

<body>
<ui:composition>

    <div class="list-group list-group-horizontal">
        <h:outputLink id="dashboard"
                      value="#{request.contextPath}/#{languageBean.lang}"
                      title="#{msg['leftmenu.dashboard.global']}"
                      styleClass="list-group-item languageSelect"
                      data-intro="#{msg['dashboard.heading']}">
            <span class="glyphicon glyphicon-globe" aria-hidden="true"/>
            <h:outputText value=" #{msg['leftmenu.dashboard.global']}"/>
        </h:outputLink>
        <h:outputLink id="cataloguesLink"
                      value="#{request.contextPath}/#{languageBean.lang}/catalogues"
                      title="#{msg['leftmenu.catalogues']}"
                      styleClass="list-group-item languageSelect"
                      data-intro="#{msg['leftmenu.help.catalogselection']}">
            <span class="glyphicon glyphicon-book" aria-hidden="true"/>
            <h:outputText value=" #{msg['leftmenu.catalogues']}"/>
        </h:outputLink>
        <h:outputLink id="reportLink"
                      value="#{request.contextPath}/#{languageBean.lang}/reports"
                      title="#{msg['hf.downloadreport']}"
                      styleClass="list-group-item languageSelect"
                      data-intro="#{msg['hf.downloadreport']}">
            <span class="glyphicon glyphicon-save" aria-hidden="true"/>
            <h:outputText value=" #{msg['hf.downloadreport']}"/>
        </h:outputLink>
    </div>

    <h2><h:outputText id="heading" value="#{msg['dashboard.heading']}"/></h2>

    <p id="introduction">
        <h:outputText value="#{msg['dashboard.introduction']} " escape="false"/>
        <ui:fragment rendered="#{mqaScheduler.nextValidationRun() != null}">
            <h:outputText value="#{mqaScheduler.nextValidationRun()}">
                <f:converter binding="#{dateTimeConverterMedium}"/>
            </h:outputText>
        </ui:fragment>
        <ui:fragment rendered="#{mqaScheduler.nextValidationRun() == null}">
            <h:outputText value="#{msg['hf.unknown']}"/>
        </ui:fragment>
        <h:outputText value="."/>
    </p>

    <h3><h:outputText id="distributionHeading" value="#{msg['dashboard.distribution.heading']}"/></h3>

    <p>
        <h:outputText id="distributionIntroduction" value="#{msg['dashboard.distribution.introduction']}" escape="false"/>
    </p>

    <h:panelGroup rendered="#{dashboardDistributionsDiagramsBean.renderSection()}">
        <div class="row">

            <fhg:chart chartId="distributionChartAvailability" title="#{msg['dashboard.distribution.overall_accessibility']}"
                       value="#{dashboardDistributionsDiagramsBean.distributionsUrlPieChart}" tutorialStep="1"
                       tutorialText="#{msg['dashboard.help.overallaccessibility']}"
                       valueName="#{msg['common.percentage']}"/>

            <fhg:chart chartId="distributionChartStatusCodes" title="#{msg['dashboard.distribution.status_codes']}"
                       value="#{dashboardDistributionsDiagramsBean.distributionsStatusPieChart}" tutorialStep="2"
                       tutorialText="#{msg['dashboard.help.errorstatuscodes']}"
                       valueName="#{msg['common.percentage']}" wellWidth="5"/>

            <fhg:chart chartId="distributionChartDownloadUrl" title="#{msg['dashboard.distribution.with_download_url']}"
                       value="#{dashboardDistributionsDiagramsBean.distributionsWithoutDownloadUrl}" tutorialStep="3"
                       tutorialText="#{msg['dashboard.help.distwithdownloadurl']}"
                       valueName="#{msg['common.percentage']}"
                       wellWidth="3"/>
        </div>

        <div class="row">

            <fhg:chart chartId="distributionChartAvailabilityPerCatalog"
                       title="#{msg['dashboard.distribution.accessibility_per_catalog']}"
                       value="#{dashboardDistributionsDiagramsBean.distributionsCatalogAvailabilityBarChart}"
                       tutorialStep="4"
                       tutorialText="#{msg['dashboard.help.catalogswithaccessibledistributions']}"
                       valueName="#{msg['dashboard.distribution.available']}"
                       type="bar" wellWidth="12" height="500px"/>

        </div>

        <div class="row">
            <fhg:chart chartId="distributionChartMachineReadablePercentage"
                       tutorialText="#{msg['dashboard.help.distribution.format.machinereadable.percentage']}"
                       title="#{msg['dashboard.distribution.format.machinereadable.percentage']}"
                       valueName="#{msg['common.percentage']}" tutorialStep="5"
                       value="#{dashboardDistributionsDiagramsBean.distributionsMachineReadablePercentagePieChart}"
                       wellWidth="4"/>

            <fhg:chart chartId="distributionChartMostUsedFormats"
                       value="#{dashboardDistributionsDiagramsBean.mostUsedDistributionFormatsColumnChart}"
                       title="#{msg['dashboard.distribution.format.mostused']}"
                       tutorialStep="6"
                       valueName="#{msg['distributions.format.name']}" tutorialText="#{msg['dashboard.help.distribution.format.mostused']}"
                       wellWidth="8"
                       type="column" yAxisLabel="#{msg['common.percentage']}"/>
        </div>

        <div class="row">
            <fhg:chart title="#{msg['dashboard.distribution.format.machinereadable.catalog.count.title']}" tutorialStep="7"
                       tutorialText="#{msg['dashboard.help.distribution.format.machinereadable.catalog.count']}"
                       valueName="#{msg['dashboard.distribution.format.machinereadable.catalog.count.percent']}"
                       value="#{dashboardDistributionsDiagramsBean.machineReadableDistributionCountPerCatalogBarChart}"
                       wellWidth="12"
                       type="bar" height="500px"/>
        </div>
    </h:panelGroup>

    <h:panelGroup rendered="#{!dashboardDistributionsDiagramsBean.renderSection()}" layout="block">
        <div class="alert alert-success" role="alert">
            <h:outputText id="distributionNoChartNeeded"
                          value="#{msg['dashboard.nodistributions']}"/>
        </div>
    </h:panelGroup>

    <h3><h:outputText id="complianceHeading" value="#{msg['dashboard.compliance.heading']}"/></h3>

    <p>
        <h:outputText id="complianceIntroduction" value="#{msg['dashboard.compliance.description']}"/>
    </p>

    <h:panelGroup rendered="#{dashboardViolationsDiagramsBean.renderSection()}">
        <div class="row">

            <fhg:chart chartId="complianceChartPlaces" title="#{msg['dashboard.compliance.violation_places']}"
                       value="#{dashboardViolationsDiagramsBean.violationMostOccurredPieChart}" tutorialStep="8"
                       tutorialText="#{msg['dashboard.help.violationoccurrences']}"
                       valueName="#{msg['common.percentage']}"
                       wellWidth="8"/>

            <fhg:chart chartId="complianceChartPercentage" title="#{msg['dashboard.compliance.dataset_in_percentage']}"
                       value="#{dashboardViolationsDiagramsBean.datasetsConformPieChart}" tutorialStep="9"
                       tutorialText="#{msg['dashboard.help.compliantdatasets']}" valueName="#{msg['common.percentage']}"/>

        </div>

        <div class="row">
            <fhg:chart chartId="complianceChartPerCatalog"
                       title="#{msg['dashboard.compliance_non_compliant_datasets_per_catalog']}"
                       value="#{dashboardViolationsDiagramsBean.violationsCountByCatalogBarChart}" tutorialStep="10"
                       tutorialText="#{msg['dashboard.help.catalogwithnoncompliantdatasets']}"
                       valueName="#{msg['dashboard.compliance.non_compliant_dataset_per_catalog_in_percentage']}"
                       height="500px"
                       wellWidth="12" type="bar"/>

        </div>
    </h:panelGroup>

    <h:panelGroup rendered="#{!dashboardViolationsDiagramsBean.renderSection()}" layout="block">
        <div class="alert alert-success" role="alert">
            <h:outputText id="complianceNoChartNeeded"
                          value="#{msg['dashboard.compliance.all_datasets_conform_catalog']}"/>
        </div>
    </h:panelGroup>

    <h3><h:outputText id="licenceHeading" value="#{msg['dashboard.licence.heading']}"/></h3>

    <p>
        <h:outputText id="licenceIntroduction" value="#{msg['dashboard.licence.description']}" escape="false"/>
    </p>

    <h:panelGroup rendered="#{dashboardLicencesDiagramsBean.renderSection()}">
        <div class="row">
            <fhg:chart chartId="licenceChartKnownPercentage"
                       tutorialText="#{msg['dashboard.help.licence.known.percentage']}"
                       title="#{msg['dashboard.licence.known.percentage']}"
                       valueName="#{msg['common.percentage']}"
                       tutorialStep="11"
                       value="#{dashboardLicencesDiagramsBean.knownLicencesPercentagePieChart}"
                       wellWidth="4"/>

            <fhg:chart chartId="licenceChartMostUsedLicence"
                       value="#{dashboardLicencesDiagramsBean.mostUsedLicencesColumnChart}"
                       title="#{msg['dashboard.licence.mostused']}"
                       tutorialStep="12"
                       valueName="#{msg['licence.name.singular']}"
                       tutorialText="#{msg['dashboard.help.licence.mostused']}"
                       wellWidth="8"
                       type="column" yAxisLabel="#{msg['common.percentage']}"/>
        </div>

        <div class="row">
            <fhg:chart chartId="licenceChartKnownPercentagePerCatalog"
                       title="#{msg['dashboard.licence.catalogue.known']}"
                       value="#{dashboardLicencesDiagramsBean.knownLicencesByCatalogBarChart}" tutorialStep="13"
                       tutorialText="#{msg['dashboard.help.licence.catalog.known.percentage']}"
                       valueName="#{msg['dashboard.licence.catalogue.known.subtitle']}"
                       height="500px"
                       wellWidth="12" type="bar"/>

        </div>
    </h:panelGroup>

    <h:panelGroup rendered="#{!dashboardLicencesDiagramsBean.renderSection()}" layout="block">
        <div class="alert alert-success" role="alert">
            <h:outputText id="licenceNoChartNeeded"
                          value="#{msg['dashboard.licence.charts_not_applicable']}"/>
        </div>
    </h:panelGroup>


</ui:composition>
</body>
</html>