<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<body>
<ui:composition>

    <p:outputPanel
            rendered="false"><!-- This is only that primefaces jQuery gets loaded on every page --></p:outputPanel>

    <div id="currentlyChecking" class="col-md-6 text-left">
        <h:panelGroup id="spinner" layout="block" title="#{msg['hf.running']}"
                      rendered="#{mqaScheduler.isValidationJobRunning()}">
            <div class="fa fa-refresh fa-spin fa-lg fa-fw"></div>
            <span>${msg['hf.running']}</span>
        </h:panelGroup>
    </div>

    <div id="lastUpdate" class="row gray_bg">
        <div class="col-md-6 text-right">
            <div class="label label-default">
                <h:outputText id="lastMqaRunLabel" value="#{msg['hf.last_update']} "/>

                <h:panelGroup rendered="#{mqaScheduler.previousOrNextValidationRunDate != null}">
                    <h:outputText id="lastMqaRunScheduler" value="#{mqaScheduler.previousOrNextValidationRunDate}">
                        <f:converter binding="#{dateTimeConverterMedium}"/>
                    </h:outputText>
                </h:panelGroup>
            </div>
        </div>

    </div>

</ui:composition>
</body>
</html>
