<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
>

<body>
<ui:composition>
    <a class="btn btn-link btn-xs" href="/data/dataset/#{dataset.name}" target="_blank">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"/>
        <h:outputText id="portalPage-#{dataset.name}-Link" value=" #{msg['common.portal_page']}"/>
    </a>
    <a class="btn btn-link btn-xs" href="/data/api/action/package_show?id=#{dataset.name}" target="_blank">
        <span class="glyphicon glyphicon-search" aria-hidden="true"/>
        <h:outputText id="json-#{dataset.name}-Link" value=" #{msg['common.json']}"/>
    </a>
    <a class="btn btn-link btn-xs" href="/data/dataset/#{dataset.name}.rdf" target="_blank">
        <span class="glyphicon glyphicon-search" aria-hidden="true"/>
        <h:outputText id="rdf-#{dataset.name}-Link" value=" #{msg['common.rdf']}"/>
    </a>
</ui:composition>
</body>
</html>
