<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>

<ui:composition>
    <h:form>
        <div class="row blue_bg">
            <div class="col-md-12 col-sm-12">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation">
                        <h:outputLink id="commonDashboardLink" value="#{request.contextPath}/#{languageBean.lang}"
                                      title="#{msg['common.dashboard']}">
                            <h:outputText value="#{msg['common.dashboard']}"/>
                        </h:outputLink>
                    </li>

                    <li role="presentation">
                        <h:outputLink id="commonCatalogLink" value="#{request.contextPath}/#{languageBean.lang}/catalogues"
                                      title="#{msg['navigation.select_catalogue']}">
                            <h:outputText value="#{msg['navigation.select_catalogue']}"/>
                        </h:outputLink>
                    </li>

                    <li role="presentation">
                        <h:outputLink id="commonReportLink" value="#{request.contextPath}/#{languageBean.lang}/reports"
                                      title="#{msg['hf.downloadreport']}">
                            <h:outputText value="#{msg['hf.downloadreport']}"/>
                        </h:outputLink>
                    </li>
                </ul>
            </div>
        </div>
    </h:form>
</ui:composition>
</body>
</html>
