<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<body>
<ui:composition>

    <h2><h:outputText id="heading" value="#{msg['hf.downloadreport']}"/></h2>

    <div class="list-group">
        <ui:fragment rendered="#{!reportHandler.getReportLanguages().isEmpty()}">
            <ui:repeat value="#{reportHandler.reportFormats}" var="reportFormat">
                <h:form>
                    <h:commandLink id="downloadReportLink-#{reportFormat.ordinal}"
                                   action="#{reportHandler.downloadFile(reportFormat)}"
                                   title="#{msg['hf.downloadreport']}"
                                   styleClass="list-group-item" >
                        <i class="fa fa-download" aria-hidden="true"> </i>
                        <h:outputText value=" #{reportFormat.getLabel()}"/>
                    </h:commandLink>
                </h:form>
            </ui:repeat>
        </ui:fragment>

        <ui:fragment rendered="#{reportHandler.getReportLanguages().isEmpty()}">
            <li class="dropdown-header">#{msg['report.lang.missing.placeholder']}</li>
        </ui:fragment>
    </div>

</ui:composition>
</body>
</html>